<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
    #cy {
      width: 1000px;
      height: 600px;
      display: block;
    }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.29.2/cytoscape.min.js"></script>
    <title>HNL debugging</title>
  </head>
  <body>
    <main>
        <h1>HNL Debugging</h1>
        <div id="cy"></div>
    </main>

    <script>
    var cy = cytoscape({

  container: document.getElementById('cy'), // container to render in

  <!-- GRAPH DATA START -->
