  <!-- GRAPH DATA END -->

  style: [ // the stylesheet for the graph
    {
      selector: 'node',
      style: {
        'background-color': '#fff',
        'label': 'data(id)',
        'text-halign': 'center',
        'text-valign': 'center',
        'width': 'label',
        'height': 'label',
        'padding': '10px',
        'shape': 'rectangle'
      }
    },

    {
      selector: 'edge',
      style: {
        'width': 3,
        'line-color': '#999',
        'target-arrow-color': '#999',
        'target-arrow-shape': 'triangle',
        'curve-style': 'bezier',
        'label': 'data(id)'
      }
    }
  ],

  layout: {
    name: 'cose',
    nodeDimensionsIncludeLabels: true

  }

});

    </script>
  </body>
</html>
